

.pmc-title {
  text-align: center;
  font-size: 20px;
  margin-bottom: 0;
}

.pmc-subtitle {
  text-align: center;
  font-size: 16px;

}

.pmc-meta {
  text-align: center;
  font-size: 12px;

}

.pmc-details {
  display: flex;
  flex-wrap: wrap;


  font-size: 12px;
}
.pmc-details p{
  text-align: center;
margin:auto;
  

}

.pmc-table-wrapper {
  overflow-x: auto;

}

.pmc-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
}

.pmc-table th,
.pmc-table td {
  border: 1px solid #ccc;
  padding: 3px;
  text-align: center;
  vertical-align: top;
}

.pmc-table th {
  background: #f0f0f0;
  font-weight: bold;
}

.pmc-table td:nth-child(2) {
  text-align: left;
}
